body {
	margin: 0;
	position: relative;
}

h1.wordmark {
	background-size: 400px 217px;
	width: 400px;
	height: 217px;
	background-repeat: no-repeat;
	background-image: url(imgs/logoreverse.png);
}
h1.wordmark.splash {
	background-image: url(imgs/logo.png);
	margin-top: -30px;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

	h1.wordmark {
		background: url(imgs/logoreverse@2x.png) no-repeat;
		background-size: 400px 217px;
		width: 400px;
		height: 217px;
		background-repeat: no-repeat;
	}
    h1.wordmark.splash {
        background-image: url(imgs/logo@2x.png);
        background-size: 400px 217px;
        background-repeat: no-repeat;
    }   
}

/* COMMON STYLES */

.logooutercontain {
	padding-right: 30px;
}
.logocontain {
	width: 400px;
	height: 217px;
	margin: 0 auto;
	text-indent: -9999px;
	direction: ltr;
	display: block;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}
.maincontain {
	width: 500px;
	margin: 0 auto;
	padding: 70px 20px;
}


/* SPLASH PAGE */

html.splash {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: table;
}
body.splash {
	background-color: #ad4200;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}
body.splash a:hover {
	text-decoration: underline;
	color: inherit;
}
.splashcontain {
	width: 400px;
	margin: 0 auto;
	padding: 0 20px;
}

.logocontain.splash {
	background-color: transparent;
}

h2#about.splash {
	display: block;
	width: 300px;
	margin: 58px auto 0 auto;
	font-family: "Futura-PT", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}
h3#staff.splash {
	width: 250px;
	margin: 20px auto 45px auto;
	font-family: Georgia, serif;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
}

#linklist {
	font-family: "Futura-PT", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	color: #fff;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
	#linklist li {
		margin-left: 0;
		padding: 8px 12px;
		border-left: 1px solid #fff;
		list-style: none;
		display: inline;
	}
	#linklist li:first-child {
		margin-right: -5px;
		border-left: none;
	}

	span.socialicons {
		position: relative;
		top: 1px;
		letter-spacing: 0;
	}
	span.socialicons a:hover {
		text-decoration: none;
	}

/* SUBPAGES */

div#static .post p {
	text-indent: 0;
}


/* BLOG */

body {
	background-color: rgb(243, 241, 233);
	font-family: Georgia, serif;
}


.logocontain {
	background-color: #ad4200;
}

h1.subhead {
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 19px;
	padding-left: 18px;
	font-size: 28px;
	margin-top: 32px;
}

.post {
	font-size: 14px;
	line-height: 1.6em;
	margin-top: 30px;
	padding-top: 25px;
	background-image: url(//static.tumblr.com/busda5t/fYymtayci/divider.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.post h3 {
	width: 300px;
	margin: -5px auto 15px auto;
	text-align: center;
	line-height: 1.3em;
	font-style: italic;
	font-size: 24px;
}
	.post h3 a {
		text-decoration: none;
		color: inherit;
	}
.post .dateline {
	margin: 0 auto 25px auto;
	text-align: center;
	font-style: italic;
	font-size: 19px;
	letter-spacing: 1px;
	display: block;
	color: inherit;
	font-weight: bold;
}

.post .body.text {
	margin-top: -5px
}
.post img.mainphoto {
	width: 500px;
}
.post p {
	text-indent: 30px;
}
.post .body a, .post .body a:visited {
	color: rgb(145,145,145);
}